<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="player.efis"
    android:installLocation="preferExternal">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ah_icon"
        android:killAfterRestore="false"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <!--android:screenOrientation="landscape"-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrefManage"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

        <!-- Auto start code start -->
        <!-- to ENABLE set, android:enabled="true" -->
        <!-- to DISABLE set, android:enabled="false" -->
        <!--receiver
            android:name="player.efis.pfd.BootUpReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver-->
        <!-- Auto start code end -->

    </application>

</manifest>
